<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Adopt A Puppy</title>
    </head>
    <body>
      <h1>Click Here To List A Puppy</h1>
      <form method="POST" action="/create_puppy">
        <label for="name">Puppy name:</label>
        <input type="text" id="name" name='name'>
        <label for="breed">Puppy breed:</label>
        <input type="text" id="breed" name='breed'>
        <label for="age">Puppy age:</label>
        <input type="text" id="age" name='age'>
    <input type="submit">
 </form>
